.vs
x64
*.opendb
*.VC.db
*.user
/doc
/EntityLib/*.psess
/EntityLib/*.vspx
**/__pycache__
*.pyc
/EntityLib_doc
/EntityLib/EntityLib/Debug
/EntityLib/EntityLibPy/Debug
/EntityLib/Test/Debug
/EntityLib/EntGen/*
